<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loboedit</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    
<div class="container-fluid">
<h1 class="text-center alert ">Explorando la tabla: {{vtablaActiva.nombre_tabla}}</h1>

<div class="row">
  <div class="col-sm-2">
    <div class="list-group">
        <p class="list-group-item list-group-item-action">Tablas BD</p>
        {% for tabla in vtablename %}
       
            <a href="/{{tabla.nombre_tabla}}" class="list-group-item list-group-item-action">{{tabla.nombre_tabla}}</a>
        {% endfor %}
      </div>
    
  </div>
     <!-- content goes here -->
  <div class="col-sm-8">
    <h2 >Listado registros de {{vtablaActiva.nombre_tabla}} <button class="btn btn-primary float-right" data-toggle="modal" data-target="#myModal">Agregar a {{vtablaActiva.nombre_tabla}}</button></h2>
    
    {%with messages = get_flashed_messages()%}
    {%if messages%}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}

    <form class="form-inline my-2 my-lg-0" action="{{ url_for('buscar')}}" method="POST">
        <input type="hidden" name="table" value="{{vtablaActiva.nombre_tabla}}">
        <input type="hidden" name="llave" value="{{vkey}}">

        <input class="form-control mr-sm-2" type="search" name="buscar" placeholder="buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>

    <!-- Enter New Student Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
   
                <div class="modal-header">
                    <h5 class="modal-title text-primary" style="align-content: center;">Añadir a {{vtablaActiva.nombre_tabla}}</h5>    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  

                <div class="modal-body">
                
                  
                    <form action="{{ url_for('insert')}}" method="POST">
                        <input type="hidden" name="table" value="{{vtablaActiva.nombre_tabla}}">
                        <input type="hidden" name="llave" value="{{vkey}}">
                          {% for campo in vtablaActiva.campos %}
                            {% if campo[1] != 'auto_increment': %}  
                                <div class="form-group">
                                <label>{{campo[0]}}</label>
                                <input name="{{campo[0]}}" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese un valor">
                                </div>
                            {%endif%}
                          {% endfor %}
                          <button type="submit" class="btn btn-primary mb-2">Guardar</button>
                     
                      </form>


                </div>
            </div>
        </div>

    </div>


    <!-- End of Enter New Student Modal -->




<table class="table table-hover">
    <thead>
        <tr>

            {% for campo in vtablaActiva.campos %}

            <th scope="col">{{campo[0]}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in vdata %}
        <tr>
            <!-- este for es para poder iterar los campos de la tabla row segun la tabla activa-->
            {% for campo in vtablaActiva.campos %}
                <td>{{row[loop.index-1]}}</td>
            {% endfor %}    
            <td>
                <a href="/update/{{row.0}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/delete/{{ row.0 }}/{{vtablaActiva.nombre_tabla}}/{{vkey}}" onclick="return confirm('Are Sure Want To Deleted ?')" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>


        <!-- Enter update table Modal -->
        <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
       
                    <div class="modal-header">
                        <h5 class="modal-title text-primary" style="align-content: center;">Update Student Details</h5>    
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
    
                    <div class="modal-body">
                        
                        <form action="{{ url_for('update')}}" method="POST">
                            <input type="hidden" name="id" value="{{row.0}}">
                            <input type="hidden" name="table" value="{{vtablaActiva.nombre_tabla}}">
                            <input type="hidden" name="llave" value="{{vkey}}">
                            {% for campo in vtablaActiva.campos %}
                                {% if campo[1] != 'auto_increment': %}
                                <div class="form-group">
                                    <label>{{campo[0]}}</label>
                                    <input  value="{{row[loop.index-1]}}"  name="{{campo[0]}}" type="text" class="form-control" id="{{campo[0]}}" placeholder="Imgrese un valor">
                                    
                                </div>
                                {%endif%}
                                
                            {% endfor %}
                           
                            
    
                              <button type="submit" class="btn btn-success mb-2">Update</button>
                         
                          </form>
    
    
                    </div>
                </div>
            </div>
    
        </div>
    
    
        <!-- End of Edit Student Modal -->




        {% endfor %}
    </tbody>

</table>

<nav aria-label="Page navigation example">
    
        <ul class="pagination">
          <input type="hidden" name="table" value="{{vtablaActiva.nombre_tabla}}">
            <input type="hidden" name="llave" value="{{vkey}}">
            {% for pag in vpaginas %}
                <li class="page-item"><a class="page-link" href="/{{vtablaActiva.nombre_tabla}}/Null/{{pag-1}}">{{pag}}</a></li>
            {% endfor %}   
        
        </ul>
 
  </nav>

            </div>
            <!-- Content ends here-->


            <div class="col-sm-2"></div>

        </div>
    </div>

 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    


</body>
</html>